<footer class="container-fluid">
    Any questions/feedback? Email us at <span>contact@sosukicks.com</span> or message us on Instagram / Facebook!
    <br>
    <a href="https://instagram.com/sosukicks">
        <img src="https://download.logo.wine/logo/Instagram/Instagram-Logo.wine.png"></i>
    </a>
    <a href="https://www.messenger.com/t/107024651249706/?messaging_source=source%3Apages%3Amessage_shortlink">
        <img src="https://download.logo.wine/logo/Facebook/Facebook-f_Logo-Blue-Logo.wine.png"></i>
    </a>
</footer>