<footer class="container-fluid">
    Any questions? Email <span>sosukicks@gmail.com</span> or shoot us a message on Instagram / Facebook!
    <br>
    <a href="https://instagram.com/sosukicks">
        <img src="https://download.logo.wine/logo/Instagram/Instagram-Logo.wine.png"></i>
    </a>
    <a href="https://www.facebook.com/stefansosu">
        <img src="https://download.logo.wine/logo/Facebook/Facebook-f_Logo-Blue-Logo.wine.png"></i>
    </a>

</footer>