<footer class="container-fluid">
    Any questions/feedback? Email us at <span>contact@sosukicks.com</span> or message us on Instagram / Facebook!
    <br>
    <a href="https://instagram.com/sosukicks"  aria-label="instagram icon">
        <img src="../instagramLogo.svg" alt="image of the instagram logo"></i>
    </a>
    <a href="https://www.messenger.com/t/107024651249706/?messaging_source=source%3Apages%3Amessage_shortlink" aria-label="facebook icon">
        <img src="../facebookLogo.svg" alt="image of the facebook logo "></i>
    </a>
</footer>