<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">SosuKicks</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li>
                    <a class="nav-link active" aria-current="page" href="/sneakers">All Sneakers</a>
                </li>
                <li>
                    <form method="GET" action="/sneakers/filter/" class="d-inline-flex">
                        <input class="form-control me-2" type="text" name="filter" placeholder="Search a sneaker..."
                            aria-label="Search">
                        <button class="btn btn-success" type="submit">Search</button>
                    </form>
                </li>
                <li>
                    <!-- <button class="btn btn-info" onclick="FB.CustomerChat.show(shouldShowDialog: true);"> Open Messenger </button> -->

                </li>
            </ul>
        </div>
    </div>


</nav>