body {
	background-color: red;
	background-image: url("G:\Node\sosukicksWTB");
}

.header {
	margin: auto;
	height: 5vh;
	text-align: center;
	font-weight: 600;
	font-size: 2em;
}

.adminPanel {
	width: 100%;
	height: 95vh;
	display: flex;
	flex-wrap: wrap;
}
hr {
	border-top: 10px solid #8c8b8b;
}
.addSneakerForm {
	flex: 9;
	padding: 2rem 0px 2rem 2rem;
	height: 100%;
}
.deleteSneakerForm {
	flex: 1;
	padding: 1rem;
	display: flex;
	align-content: flex-start;
	justify-content: center;
	height: 100%;
}
.sneakerListItem {
	width: 300px !important;
}
.sneakerListItem .form-check-input {
	width: 35px;
	height: 35px;
}
.popupWindow {
	display: none;
	position: fixed;
	z-index: 1;
	padding: 15% 0%;
	left: 0px;
	right: 0px;
	top: 0px;
	width: 100%;
	height: 100%;

	background-color: rgb(0, 0, 0);
	background-color: rgba(255, 255, 255, 1);
}
.popupWindowContent {
	background-color: #6f25bf;
	display: flex;
	justify-content: center;
	color: white;
	width: 20%;
	padding: 3em;

	border: 3px solid #000000;
	border-radius: 10px;
}
.passwordInput {
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
}
.passwordInput p {
	font-size: 1.72em;
	font-weight: 600;
}
