<div class="deleteSneakerForm">
    <form action="/sneakers/admin?_method=DELETE" method="POST">
        <button>Delete Marked Sneakers</button>
        <% items.forEach( function(item, index)  { %>
             <div class="input-group mb-3">
                <div class="input-group-text py-0">
                    <a class="form-control mx-2"href="/sneakers/<%= item._id %>/edit "> <%= item.model %> </a>
                    <input class="form-check-input mt-0"type="checkbox" id="item<%=index%>" name="markedSneakers[]" value="<%= item._id%>">
                </div>
            </div>
        <% }) %>
    </form>
</div>



